@media screen and (min-width: 768px) and (max-width: 2560px) {
  /*Navbar*/
  .Cointainer {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  .Header {
    background-color: var(--secoundary);
    height: 100vh;
  }

  .Nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-evenly;
  }
  /*logo*/

  .logo {
    margin-top: 4vh;
    width: 5vw;
    height: 10vh;
  }
  /*brandname*/

  .brand {
    margin-top: 2vh;
    font-size: 4vh;
  }
  /*Menu*/
  .Icon {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* align-content: space-evenly; */
  }
  .Reference {
    font-size: 4vh;
    text-decoration: none;
    color: var(--primary);
    margin: 4vh 5vh 4vh 5vh;
    text-align: justify;
  }
  /*Aside*/
  .Aside {
    height: 100vh;
    overflow-y: scroll;
  }



  

  /* Icecream*/
  .Ice {
    width: 75vw;
    height: 100vh;
  }
  #BlockB{
    padding-top: 5%;
  }

  /*welcome*/
  #welcome2 {
    font-size: 7vh;
    margin: 4vh 5vh 4vh 5vh;
  }

  /*content*/
  #welcome1 {
    font-size: 4vh;
    margin: 4vh 5vh 4vh 5vh;
  }

  /*Blockc*/
  #BlockC {
    display: flex;
    flex-direction: row-reverse;
  }
  /*About team*/
  .team {
    font-size: 7vh;
    margin: 4vh 5vh 4vh 5vh;
  }
  /*content*/
  .team1,
  .team2,
  .team3 {
    font-size: 3.5vh;
    margin: 4vh 5vh 4vh 5vh;
  }
  /*Drinks*/
  #drinks {
    height: 80vh;
    margin: 4vh 5vh 4vh 5vh;
  }
  /*Readmore*/
  .btn {
    color: var(--primary);
    background-color: var(--secoundary);
    height: 8vh;
    font-size: 4vh;
    margin: 4vh 5vh 4vh 5vh;
    border: none;
    padding: 2vh 4vh;
  }
  #BlockD{
    padding-top: 5vh;
  }
  
  /*Gallery one*/
  .one{
    font-size: 7vh;
    margin: 4vh 5vh 4vh 5vh;
  }
/*images parent*/
  .Galleryone{
    display: flex;
    justify-content: space-evenly;
    /* margin: 4vh 5vh 4vh 5vh; */
  }
  /*images class*/
  .phase1, .phase2, .phase3{
    display: flex;
    justify-content: space-evenly;
    gap: 1vh;
  }
  /*images size*/
  .one1{
    height: 23vh;
    margin-left: 1vh;
  }

  #BlockE{
    padding-top: 5vh;
  }
/*Second Gallery*/
  .second{
    font-size: 7vh;
    margin: 4vh 5vh 4vh 5vh;
  }
/*images parent*/
  .Gallerytwo{
    display: flex;
    justify-content: space-evenly;
    /* margin: 4vh 5vh 4vh 5vh; */
  }
  /*images class*/
  .phase4, .phase5{
    display: flex;
    justify-content: space-evenly;
    gap: 1vh;
  }
  /*images size*/
  .second2{
    height: 27vh;
    margin-left: 1vh;
  }

#BlockF{
  padding-top: 5vh;
  padding-bottom: 5vh;
  /* padding-bottom: 9vh; */
}
  /*Third Gallery*/
  .third{
    font-size: 7vh;
    margin: 4vh 5vh 4vh 5vh;
  }
/*images parent*/
  .Thirdgallery{
    display: flex;
    justify-content: space-evenly;
    /* margin: 4vh 5vh 4vh 5vh; */
  }
  /*images class*/
  .phase6, .phase7{
    display: flex;
    justify-content: space-evenly;
    gap: 1vh;
  }
  /*images size*/
  .third3{
    height: 30vh;
    margin-left: 1vh;
  }

#Contact{
  padding-top: 5%;

}
  /*footer*/
  .Footer{
    display: flex;

  }
  /*Contact*/
.contact{
   font-size: 7vh;
    margin: 4vh 5vh 4vh 5vh;
}
/*form teg*/
form{
 
  display: flex;
  flex-direction: column;
 
  margin: 4vh 5vh 4vh 5vh;

}

/*name, email, message, send*/
input, textarea, .btn1{
  height: 12vh;
  width: 30vw;
  font-size: 3vh;
  margin-top: 2vh;
  padding-left: 2vh;


}

/*Content parent*/
#Order{
  display: flex;
  flex-direction: column;
  margin: 4vh 5vh 4vh 5vh;
}
/*content1*/
.order1{
  font-size: 4vh;
  display: flex;
  margin: 4vh 5vh 4vh 5vh; 
  
}
/*content2*/
.order2{
  font-size: 4vh;
  display: flex;
margin: 4vh 5vh 4vh 5vh; 
}

/*Copyright*/
#copyright{
  display: flex;
  margin: 4vh 5vh 4vh 5vh;
}
/*Content*/
.copy{
  font-size: 3vh;
  margin-left: 2vh;
}


  




















}
