
 @media screen and (min-width: 812px) and (max-width: 1024px )
{ 

.Cointainer{
  display: grid;
  grid-template-columns: 1fr 3fr;
 
}
.Header{
  background-color: burlywood;
 position: fixed;
 top: 0%;
 height: 100%;
 width: 30%;
  
}
.Nav{
 background-color: chartreuse;
 margin: 5%;
}
.logo{
margin: 5%;
width: 30%;
height: 20%;
margin-left: 30%;
}
.brand{
  margin: 2%;
  font-size: 550%;
  padding-left: 30%;
}
.Icon{

 display: flex;
 flex-direction: column;
background-color: cornflowerblue;
align-items: center;
}
.Reference{
  font-size: 650%;
  margin:10%;
  text-align: justify;
}

.Aside{
  /* background-color: brown;  */
  margin-left: 45%;
  width: 100%;
  
  
}
/*BlockB*/
#welcome2{
  font-size: 500%;
  display: flex;
}
#welcome1{
  font-size: 350%;
}
#BlockC{
  display: flex;
  flex-direction: row-reverse;
}
#drinks{
 width: 70vw;
}
.team{
  font-size: 500%;
}
.content{
  display: flex;
}
.team1{
  font-size: 300%;
}
 .team2, .team3,.btn{
  margin-top: 5%;
  font-size: 300%;
}
.btn{
  background-color: var(--secoundary);
  color: var(--primary);
}
.one, .second, .third, .contact{
  font-size: 500%;
}
#BlockD{
  display: flex;

}
.one1{
  width: 50%;
  height: 100%;
}
.one12{
  width: 70%;
  height: 100%;
}
.phase1,.phase2, .phase3{
  display: flex;
  gap: 2%
}
.phase2{
  margin-left: 2%;
}
.phase3{
margin-left: 2%;
}
.phase3 .one1{
  width: 80%
}
#BlockE{
  display: flex;
}
.phase4,.phase5{
  display: flex;
  margin-left: 2%;
}
.phase4 .second2{

 margin-left: 2%;
}
.second2{
width: 50%;
}
.phase5 .second2{
width: 80%;
  margin-left: 5%;
}
#BlockF{
  display: flex;
}
.phase6, .phase7{
  display: flex;
  gap: 2%;
  margin-left: 2%;
}
.third3{
  width: 50%;
}
.phase7 .third3{
  width: 45%;
 
}
#Contact{
  display: flex;
  justify-content: space-evenly;
}
form{
  display: flex;
  flex-direction: column;
}
input, textarea, button{
  font-size: 400%;
}
button{
  color: var(--primary);
  background-color: var(--secoundary);
}

.order1,.order2{
  font-size: 200%;
  margin-left: 2%;
}
.order2{
  margin-top: 2%;
}
#copyright{
  display: flex;
  gap: 2%;
  margin-top: 2%;
}
.copy{
  font-size: 300%;
}
}

 